.DataListField .PageControls { text-align: center; display: block; position: relative; }

.DataListField .PageControls * { display: inline; vertical-align: middle; font-weight: bold; }

.DataListField .PageControls .Last { display: block; width: 40px; text-align: right; float: right; }

.DataListField .PageControls .First { float: left; display: block; width: 40px; text-align: left; }

.DataListField img { border: 0 !important; }

.DataListField .no-items { text-align: left; }
